:sass
  body
    font-family: verdana
    line-height: 24px

    section
      margin: 0px auto
      width: 800px

    img
      float: left
      margin-right: 20px
      width: 192px

%h1 Tremendous Pixels

= image_tag image.to_src

%p
  Every ten seconds Donald Trump's Twitter account is checked. When new Tweets
  are found, they are transformed into images like the one you see here.

%p
  Through this transformation his words are liberated; freed of the man that
  oozed them out, vile and incoherent. Reduced to letters, mapped to colors and
  arranged in a structured form, the ramblings of an elderly narcissist become
  quirky pixel art.

%p
  You can follow the
  = link_to 'Tremendous Pixels Twitter account', 'https://twitter.com/tremendouspxs'
  or just keep the
  = link_to 'live page', '/live'
  open to see this transformation as it happens. The
  = link_to 'gallery page', '/images'
  shows all past images.
