= image_tag image.to_src

%p
  Every ten seconds Donald Trump's Twitter account is checked and when new
  Tweets are found, they are transformed into images like the one you see here.

%p
  Through this transformation his words are liberated; freed of the man that
  oozed them out, vile and incoherent. Reduced to letters, mapped to colors and
  arranged in a structured form, the ramblings of an elderly narcissist become
  quirky pixel art.

%p
  Keep the
  = link_to 'live page', '/live'
  open or follow the
  = link_to 'Twitter account', 'https://twitter.com/tremendouspxs'
  to see this transformation as it happens. The
  = link_to 'gallery page', '/images'
  shows all images.
